<h1>Nuevo Cliente</h1>
<div class="text-center">
  <%= simple_form_for [@company, @client] do |f| %>
    <%= f.input :name, autofocus: true  %>
    <%= f.input :address  %>
    <%= f.input :phone  %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
