<div class="table-responsive">

  <table class="table table-striped table-bordered table-hover mt-2">
    <thead class="table-dark">
      <%= link_to "New Client", new_company_client_path(@company), class: "btn btn-primary", data: { turbo_frame: 'modal' } %>
      <tr>
        <th scope="col" class="filterable text-center">Cliente</th>
        <th scope="col" class="text-center">Dirección</th>
        <th scope="col" class="text-center">RUT</th>
        <th scope="col" class="text-center">Phone</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |c| %>
      <tr>
        <td>
        <button class="btn btn-secondary w-100" onclick="window.location.href='<%= client_path(c.id) %>'"><%= c.name %></button>
        </td>
        <td class="text-center"><%= c.address %></td>
        <td class="text-center"><%= c.rut %></td>
        <td class="text-center"><%= c.phone %></td>
        <td class="text-center">
          <%= link_to client_path(c), class:"btn btn-danger", data:{turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <%= link_to edit_client_path(c), class:"btn btn-primary", data: { turbo_frame: 'modal' } do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex bg-secondary bg-gradient p-2 rounded mb-2 justify-content-between">
    <div class="mb-2 ">
      <%= render "import/import_form" %>
    </div>
    <div>
      <button class="btn btn-info" onclick="window.location.href='<%= company_morosos_path(@company) %>'">
        Morosos
      </button>
      <button class="btn btn-info" onclick="window.location.href='<%= company_prestamos_path(@company) %>'">
        Prestamos
      </button>
      <button class="btn btn-info" onclick="window.location.href='<%= company_reservas_path(@company) %>'">
        Reservas
      </button>
    </div>
  </div>
</div>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
