<h1>Nueva Empresa</h1>
<% if @editing %>
  <div class="text-center">
    <%= simple_form_for @company do |f| %>
      <%= f.input :name_company, autofocus: true  %>
      <%= f.submit class: "btn btn-success", data:{turbo_method: :update, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% else %>
  <div class="text-center">
    <%= simple_form_for @company do |f| %>
      <%= f.input :name_company, autofocus: true  %>
      <%= f.submit class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
