<%= turbo_frame_tag "modal" %>
<div class="data-table mt-2">
  <%= form_with url: company_balances_path, method: :get, remote: true do |form| %>
    <div class="d-flex flex-column mt-3 align-items-center">
      <h2>Seleccionar fecha</h2>
      <%= form.text_field :start_date_between, value: params[:start_date_between], data: { controller: "daterangepicker" } %>
      <%= form.submit "search", class: "btn btn-primary mt-2" %>
    </div>
  <% end %>
</div>
<%= link_to "Volver", company_path(@company), class:"btn btn-warning" %>
<div id="account-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-3">
        <div class="deposit status">
          <h5>Ventas</h5>
          <h2>$ <span id="current-deposit"><%= number_with_delimiter(@valor_ventas, delimiter: '.') %></span></h2>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="withdraw status">
          <h5>Arriendos</h5>
          <h2>$ <span id="current-withdraw"><%= number_with_delimiter(@valor_arriendos, delimiter: '.')  %></span></h2>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="balance status">
          <h5>Garantias</h5>
          <h2>$ <span id="current-balance"><%= number_with_delimiter(@valor_garantias, delimiter: '.') %></span></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="submit-area ">
          <h4>ENTRADAS - GASTOS - INVERSIÓN </h4>
          <ul class="bullet-list">
            <li>
              <h2>ENTRADA ------> $ <span id="current-balance"><%= number_with_delimiter(@total_entrada, delimiter: '.') %></span></h2>
            </li>
            <li>
              <h2>PAGOS ------> $ <span id="current-balance"><%= number_with_delimiter(@valor_pagos, delimiter: '.') %></span></h2>
            </li>
            <li>
              <h2>INVERSIÓN ------> $ <span id="current-balance"><%= number_with_delimiter(@valor_inversion, delimiter: '.') %></span></h2>
            </li>
            <hr style="border-top: 3px solid #ccc;">
              <h2>GANANCIA ------> $ <span id="current-balance"><%= number_with_delimiter(@calculo, delimiter: '.') %></span></h2>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
<!-- (tu código del buscador de fechas aquí) -->

<!-- (tu código de balance aquí) -->

<!-- La tabla de productos y clientes: -->
<h1 class="display-1 text-center">Productos y Clientes</h1>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Disfraz</th>
      <th scope="col">Agregado</th>
      <th scope="col">Valor</th>
      <th scope="col">Garantía</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Fecha de fin</th>
      <th scope="col">Fecha de reserva</th>
      <th scope="col">Estado</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.client.name %></td>
        <td><%= product.disfraz %></td>
        <td><%= product.agregado %></td>
        <td><%= product.valor %></td>
        <td><%= product.garantia %></td>
        <td class="fechas-column"><%= product.init_date %></td>
        <td class="fechas-column"><%= product.end_date %></td>
        <td class="fechas-column"><%= product.reserva_date %></td>
        <td><%= product.estado %></td>
        <td class="text-center">
          <%= link_to edit_product_path(product), class:"btn btn-primary", data: { turbo_frame: 'modal' } do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
