<div class="container">
  <h1 class="text-blue-400">Index de Companies</h1>
  <ul>
  <% @companies.each do |c| %>
    <li>
      <%= link_to c.name_company, company_path(c) %>
    </li>
  <% end %>
  </ul>

  <%= link_to "New Company", new_company_path, class: "btn btn-primary", data: { turbo_frame: 'modal' } %>
  <%= link_to "Volver", "/" %>
</div>
<%= turbo_frame_tag "modal" %>

<div class="container">
  <div class="data-table">
    <table class="table table-striped table-bordered" id="example">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="filterable">Company</th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |c| %>
        <tr>
          <td><%= link_to c.name_company, company_path(c), class:"btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>
  new DataTable('#example');
</script>
