<%= turbo_frame_tag "modal" %>
<div class="container">
  <h1 class="text-blue-400 text-center"><%= @company.name_company %></h1>
</div>

<div class="container">
  <div>
    <%= form_with url: company_path, method: :get, data: { turbo_frame: "clients", turbo_action: "advance", controller: "show", action: "input->show#submit" } do %>
      <%= text_field_tag "filter", nil, placeholder: "Filtro", class:"inline-block rounded-md border border-gray-200 outline-none px-3 py-2", oninput: "this.value = this.value.toUpperCase();" %>
    <% end %>
  </div>
    <%= render "client", company: @company %>

  <%= link_to "Volver", companies_path, class:"btn btn-warning mt-2" %>
</div>
