<%= turbo_frame_tag "modal" %>
<div class="container">
  <h1 class="text-blue-400 text-center"><%= @company.name_company %></h1>

</div>

<div class="container" data-controller="show">
  <div class="data-table">
    <table id="example" class="table table-striped">
      <thead class="thead-dark">
        <%= link_to "New Client", new_company_client_path(@company), class: "btn btn-primary", data: { turbo_frame: 'modal' } %>
        <tr>
          <th scope="col" class="filterable text-center">Cliente</th>
          <th scope="col" class="text-center">Dirección</th>
          <th scope="col" class="text-center">Phone</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |c| %>
        <tr>
          <td><%= link_to c.name, client_path(c.id), class:"btn btn-secondary w-100" %></td>
          <td class="text-center"><%= c.address %></td>
          <td class="text-center"><%= c.phone %></td>
          <td class="text-center">
            <%= link_to client_path(c), class:"btn btn-danger", data:{turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
            <%= link_to edit_client_path(c), class:"btn btn-primary", data: { turbo_frame: 'modal' } do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <%# Datepicker %>

  <input type="text" data-controller="daterangepicker" size="24" style="text-align:center">
  <%= form_with url: company_path, method: :get do |form| %>
    <%= form.text_field :start_date_between, value: params[:start_date_between], data: {controller: "daterangepicker"} %>
    <%= form.submit "search" %>
  <% end %>

  <%# TARJETAS DE VENTAS DEL MES, ARRIENDOS DEL MES, GARANTIAS PENDIENTES. GANANCIAS => ARRIENDO+VENTAS. %>

  <div class="cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h1>Ventas:</h1>
      <%= @valor_ventas %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <h1>Arriendos:</h1>
      <%= @valor_arriendos %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <h1>Garantias:</h1>
      <%= @valor_garantias %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      <h1>Ganancias:</h1>
      <%= @ganancia %>
    </div>
  </div>




  <%= link_to "Volver", companies_path, class:"btn btn-warning mt-2" %>
</div>
