<h1>Nuevo Producto</h1>
<div class="container">
  <%= simple_form_for [@client, @product] do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :disfraz, autofocus: true, label: "Disfraz" %>
        <%= f.input :agregado, label: "Agregado" %>
        <%= f.input :valor, label: "Valor" %>
      </div>
      <div class="col-md-6">
        <%= f.input :garantia, label: "Garantía" %>
        <%= f.input :init_date, label: "Fecha de inicio", order: [:day, :month, :year], html5: true %>
        <%= f.input :end_date, label: "Fecha de fin", order: [:day, :month, :year], html5: true %>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit class: "btn btn-success mb-2" %>
    </div>
  <% end %>
</div>
