<h1>Nuevo Producto</h1>
<% if @editing %>
<div class="container">
  <%= simple_form_for [@client, @product] do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :disfraz, autofocus: true, label: "Disfraz" %>
        <%= f.input :agregado, label: "Agregado" %>
        <%= f.input :valor, label: "Valor" %>
        <%= f.input :garantia, label: "Garantía" %>
      </div>
      <div class="col-md-6">
        <%= f.input :init_date, label: "Fecha de inicio", order: [:day, :month, :year], html5: true %>
        <%= f.input :end_date, label: "Fecha de fin", order: [:day, :month, :year], html5: true %>
        <%= f.input :reserva_date, label: "Fecha de Reserva", order: [:day, :month, :year], html5: true %>
        <%= f.select :estado, Product::ESTADO %>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit class: "btn btn-success mb-2 mt-2", data:{turbo_method: :update, turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>
<% else %>
<div class="container">
  <%= simple_form_for [@client, @product] do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :disfraz, autofocus: true, label: "Disfraz" %>
        <%= f.input :agregado, label: "Agregado" %>
        <%= f.input :valor, label: "Valor" %>
        <%= f.input :garantia, label: "Garantía" %>
      </div>
      <div class="col-md-6">
        <%= f.input :init_date, label: "Fecha de Arriendo", order: [:day, :month, :year], html5: true %>
        <%= f.input :end_date, label: "Fecha de Entrega", order: [:day, :month, :year], html5: true %>
        <%= f.input :reserva_date, label: "Fecha de Reserva", order: [:day, :month, :year], html5: true %>
        <%= f.label :estado %>
        <%= f.select :estado, Product::ESTADO %>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit class: "btn btn-success mb-2 mt-2" %>
    </div>
  <% end %>
</div>
<% end %>
